.design
{
    display: flex;
    justify-content: center;
    /*max-width: 1920px;*/
}

.design__text
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    margin-top: 200px;
    padding-left: 135px;
    text-align: left;
    max-width: 1144px;
}

.design__title
{
    font: 48px/53px "Montserrat", sans-serif;
    color: #404040;
    margin-bottom: 18px;
    max-width: 488px;
}

.design__description
{
    font: 16px/26px "Montserrat", sans-serif;
    color: #6E6E6E;
    max-width: 616px;
}

.design__photo
{
    display: flex;
    position: relative;
    max-width: 776px;
}

.design__items
{
    position: absolute;
    top: 10%;
    left: -25%;
}

@media screen and (max-width: 1740px)
{
    .design__items
    {
        left: 0;
    }
}

@media screen and (max-width: 1580px)
{
    .design
    {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .design__description
    {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 768px)
{
    .design__items
    {
        display: none;
    }

    .design__text
    {
        text-align: center;
        margin-top: 10px;
    }
}